@import '../partials/variables.scss';

.footer {
    background-color: transparent;
    color: #ffffff;

    .footer-link {
        text-decoration: none;
        color: #ffffff;
        transition: color 0.3s ease;

        &:hover {
            color: #f8f9fa;
        }
    }

    .list-unstyled {
        display: flex;
        justify-content: center;
    }

    .mx-2 {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }

    .text-center {
        text-align: center;
    }

    .text-md-right {
        text-align: right;
    }
}